#components-layout-demo-responsive .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.2);
}

.site-layout-sub-header-background {
    background: #fff;
}

.site-layout-background {
    background: #fff;
}

.action {
    height: 20%;
}

.sidebar-list {
    height: 80%;
    left: 0;
}

.sidebar {
    flex: 0 0 300px !important;
    max-width: 300px !important;
    min-width: 200px !important;
    width: 300px !important;
    height: 100vh;
}